@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  content-visibility: auto;
}

#my-extension-root {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 0px 5px #0000009e;
}

#my-extension-root iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.username {
  user-select: none;
  font-weight: bold;
  width: max-content;
  padding: 2px 4px;
  background-color: white;
  border-radius: 1rem;
}

.speech-bubble {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.4em;
  width: max-content;
  max-width: 256px;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  word-break: break-all;
  white-space: pre;
  user-select: none;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}

.speech-username {
  font-weight: bold;
}
